$primary: #5265E1;
$secondary: #FA5959;

.cuadrado{
    width: auto;
	height: 14rem;
	margin-top: -13rem;
    margin-left: 7rem;
    border-radius: 200px 0px 0px 200px;
}




@import "../node_modules/bootstrap/scss/bootstrap";
