$primary: #5265E1;
$secondary: #FA5959;
$info: #081daa;

.cuadrado{
    width: auto;
	height: 14rem;
	margin-top: -13rem;
    margin-left: 7rem;
    border-radius: 200px 0px 0px 200px;
}

.cuadrado2{
    width: auto;
	height: 14rem;
	margin-top: -10rem;
    margin-left: -8rem;
    margin-right: 13rem;
    border-radius: 0px 200px 200px 0px;
}

$nav-link-color: black;
    
$accordion-button-active-bg: none;
$accordion-button-active-color: black;
$accordion-icon-active-color: red;
$accordion-button-focus-box-shadow: none;

.bookmark-white{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(72deg) brightness(109%) contrast(101%);
}

@import "../node_modules/bootstrap/scss/bootstrap";



